modules = ["web"]
run = "run = \"live\""

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "run = \"live\""]

[workflows]
runButton = "Web Server"

[[workflows.workflow]]
name = "Web Server"
author = 37476721

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m http.server 3000 --bind 0.0.0.0"

[[ports]]
localPort = 3000
externalPort = 80
